* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

ul {
	list-style: none;
}

#usr {
	width: 80%;
	display: inline;
}

#app {
	width: 100%;
	height: 100%;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
	width: 100%;
	height: 100%;
}

.center {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

#username_change {
	top: 0;
	width: 100%;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #efefef;
}

#monitor {
	display: block;
	float: right;
}

#selector {
	width: 70%;
	float: left;
}

#searching_conditions {
	float: left;
	width: 35%;
}

#search_result {
	float: right;
	width: 60%;
	text-align: left;
	padding: 10px;
}

#deck_name_sel {
	float: right;
}

#deck_creation {
	float: left;
}

#edit_profile_button {
	width: 40px;
}

#save_button {
	width: 100%;
	height: 25px;
	background-color: #99FFCC;
	font-weight: bold;
	margin-top: 3px;
}

#search_opponent {
	width: 100%;
	height: 25px;
	background-color: #FFCCCC;
	font-weight: bold;
	margin-top: 3px;
}

#InvitationBox {
	width: 350px;
	height: 50%;
	background-color: #EEEEEE;
	position: fixed;
	left: 0;
	bottom: 0;
}

#received_invitations {
	width: 100%;
	height: 50%;
	position: static;
	left: 0;
	bottom: 0;
	margin: 3px;
	overflow: scroll;
}

#pending_results {
	width: 100%;
	height: 50%;
	position: static;
	left: 0;
	bottom: 0;
	margin: 3px;
	overflow: scroll;
}

.invitation_button {
	width: 25%;
	height: 12px;
}

.pending_result_button {
	width: 50%;
	height: 12px;
}

.Common {
	background-color: #E6E6E6;
}

.Rare {
	background-color: #6699FF;
}

.Epic {
	background-color: #DB94FF;
}

.Legendary {
	background-color: #FFD175;
}























